[project]
name = "dagorder"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.12"

[dependency-groups]
dev = [
    "pytest>=9.0.1",
]

[tool.isort]
profile = "black"
